    <div class="header__sale text-center">
        <h1> </h1>
    </div>
    <div class="header__top text-center">
        <h1> perfume</h1>
    </div>
    <div class="header__bottom">
        <ul class="header__list container">
            <li> @Html.ActionLink("Home", "Index")</li>
            <li class="productmenu">
                <a href="#"> Products</a>
                <div class="sub text-center">
                    <div class="menu-item col-md-4">
                        <h3>Brand</h3>
                        <a href="#">Versace</a>
                        <a href="#">Gucci</a>
                        <a href="#">Channel</a>
                        <a href="#">Chloe</a>
                    </div>
                    <div class="menu-item col-md-4">
                        <h3>Gender</h3>
                        <a href="#">Male</a>
                        <a href="#">Female</a>
                        <a href="#">Unisex</a>
                        <a href="#">Niche</a>
                    </div>
                    <div class="menu-item col-md-4">
                        <h3>Origin</h3>
                        <a href="#">France</a>
                        <a href="#">US</a>
                        <a href="#">England</a>
                        <a href="#">Italia</a>
                    </div>
                </div>
            </li>
           <li>@Html.ActionLink("Address", "Address")</li>
            <li class="guidemenu">
                <a href="#"> Guide</a>
                <div class="sub text-center">
                    @Html.ActionLink("online shopping guide", "OnlineShopping")
                    @Html.ActionLink("perfume group guide", "Group")
                    @Html.ActionLink("return and exchange ", "Return")
                </div>
            </li>
            <li> <a href="#"> Introduce</a> </li>
            <li>
                <a href="#" class="user"> <img src="~/IMG/user.png" width="20" /> </a>
                <a href="#" class="search"> <img src="~/IMG/search.png" width="20" /> </a>
                <a href="#" class="cart"> <img src="~/IMG/cart.png" width="20" /> </a>
            </li>
        </ul>
    </div>


@*hi*@