    <div class="header__top text-center">
        <h1>perfume</h1>
    </div>
    <div class="header__bottom">
        <ul class="header__list container">

            <li><a @Url.Action("Index","Home")>Home</a></li>
            <li class="productmenu">
                <a href="@Url.Action("Index","Product")"> Products</a>

                <div class="sub text-center">
                    <div class="menu-item col-md-4">
                        <h3>Brand</h3>
                        @Html.ActionLink("Versace", "Index", "Product")
                        @Html.ActionLink("Gucci", "Index", "Product")
                        @Html.ActionLink("Products", "Index", "Product")
                        @Html.ActionLink("Chloe", "Index", "Product")
                    </div>
                    <div class="menu-item col-md-4">
                        <h3>Gender</h3>
                        @Html.ActionLink("Male", "Index", "Product")
                        @Html.ActionLink("Female", "Index", "Product")
                        @Html.ActionLink("Products", "Index", "Product")
                        @Html.ActionLink("Niche", "Index", "Product")
                    </div>
                    <div class="menu-item col-md-4">
                        <h3>Origin</h3>
                        @Html.ActionLink("France", "Index", "Product")
                        @Html.ActionLink("US", "Index", "Product")
                        @Html.ActionLink("England", "Index", "Product")
                        @Html.ActionLink("Italia", "Index", "Product")
                    </div>
                </div>
            </li>
           <li>@Html.ActionLink("Address", "Address","Home")</li>
            <li class="guidemenu">
                <a href="#"> Guide</a>
                <div class="sub text-center">
                    @Html.ActionLink("online shopping guide", "OnlineShopping", "Home")
                    @Html.ActionLink("perfume group guide", "Group", "Home")
                    @Html.ActionLink("return and exchange ", "Return", "Home")
                </div>
            </li>
            <li> @Html.ActionLink("Introduce ", "Intro", "Home")</li>
            <li>
                @if (Session["idUser"] != null)
                {
                    <a href="~/Home/Logout"><img src="~/IMG/sign-out-alt-solid.svg" width="20"/></a>
                }
                else
                {
                    <a href="@Url.Action("Login","Home")" class="user"> <img src="~/IMG/user.png" width="20" /> </a>
                }
                <a href="/ShoppingCart/ShowtoCart" class="cart"> <img src="~/IMG/cart.png" width="20" />@Html.Action("BagCart", "ShoppingCart") </a>
            </li>
        </ul>
    </div>


@*hi*@