<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/_Reset.css")
    @Styles.Render("~/Content/_Header.css")
    @Styles.Render("~/Content/_NavSearch.css")
    @Styles.Render("~/Content/_NavCart.css")
    @Styles.Render("~/Content/_SubMenu.css")
    @Styles.Render("~/Content/_Footer.css")
    @Styles.Render("~/Content/_MessageAndBackToTop.css")
    @Styles.Render("~/Content/_Address.css")
    @Styles.Render("~/Content/flickity.css")
    @Styles.Render("~/Content/_ShoppingGuid.css")
    @Styles.Render("~/Content/Products.css")
    @Styles.Render("~/Content/Cart.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        @{
            Html.RenderPartial("_Header");
            Html.RenderPartial("_NavSearch");
            Html.RenderPartial("_NavCart");
        }
    </header>

    <main>
        @RenderBody()
        <div id="chat">
            <button class="open-button">
                <img src="~/IMG/message.png" width="40" />
            </button>

            <div class="chat-popup" id="myForm">
                <form action="/action_page.php" class="form-container">
                    <label class="text-center">Message</label>
                    <textarea placeholder="Send Us The Message!" name="msg" required></textarea>

                    <button type="submit" class="btn">Send</button>
                    <button type="button" class="btn cancel">
                        Close
                    </button>
                </form>
            </div>

            <div id="myBtn">
                <img src="~/IMG/backToTop.png" width="50" />
            </div>

        </div>
    </main>
    <footer>
        @{
            Html.RenderPartial("_Footer");
        }
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/main.js")
<script src="~/Scripts/flickity.pkgd.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
