@using LapTrinhWeb.Models;
@using PagedList;
@using PagedList.Mvc;

@model PagedList.PagedList<Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />


<section class="carousel">
    <div class="carousel__wrap">
        <div class="carousel__item">
            <img src="~/IMG/carousel2.jpg" />
        </div>
        <div class="carousel__item">
            <img src="~/IMG/carousel1.jpg" />
        </div>
        <div class="carousel__item">
            <img src="~/IMG/carousel3.jpg" />
        </div>
    </div>
    <img class="left-arrow" src="~/IMG/left-arrow.png" width="40" />
    <img class="right-arrow" src="~/IMG/right-arrow.png" width="40" />
</section>
<table class="container">
    <tr class="newProducts">
        <td class="container">
            <h2 class="text-center">New Producst</h2>
            <div class="product__wrap">
                @foreach (var item in Model)
                {


                    <div class="product__items">

                        <img src="~/IMG/@item.Img" />
                        <p class="title">@item.ProductName</p>
                        <p><span>@item.Price</span><span>4.200.200</span></p>
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                        <button>@Html.ActionLink("Preview", "Preview", new { id = item.ProductId })</button>
                    </div>
                }
            </div>
        </td>
        </>
</table>
Trang @(Model.PageCount<Model.PageNumber?1:Model.PageNumber)/@Model.PageCount
<hr />
@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))