@model LapTrinhWeb.Models.Product
@{
    ViewBag.Title = "Preview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

<section class="pre">
    <div class="container">
        <div class="row">
            <div class="pre_img col-md-6"><img class="card-img-top mb-5 mb-md-0" src="~/IMG/@Model.Img" alt="..." /></div>
            <div class="col-md-6 pre_content">
                <h2 class="pre_title">
                    @Html.DisplayFor(model => model.ProductName)
                    <span>NEW</span>
                </h2>
                <p>
                    <span class="p">@Html.DisplayNameFor(m => m.Price):</span>
                    <span class="price">@Html.DisplayFor(model => model.Price)$</span>
                </p>
                <span class="detail_product"> @Html.DisplayFor(model => model.Detail)</span>


                <button class="cart_btn me-1">@Html.ActionLink("Add Cart", "AddtoCart", "ShoppingCart", new { Id = @Model.ProductId }, null)</button>

                <div class="guide">
                    <div class="guide_item">
                        <img src="~/IMG/car.png" width="40px" />
                        <span>FreeShip</span>
                    </div>
                    <div class="guide_item">
                        <img src="~/IMG/box.png" width="40px" />
                        <span>COD</span>
                    </div>
                    <div class="guide_item">
                        <img src="~/IMG/exchange.png" width="40px" />
                        <span>Exchance</span>
                    </div>
                </div>


            </div>
            <button class="more">@Html.ActionLink("More Products", "Index")</button>

        </div>
    </div>
</section>

