@using LapTrinhWeb.Models;
@using PagedList;
@using PagedList.Mvc;

@model PagedList.PagedList<Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />


<section class="carousel">
    <div class="carousel__wrap">
        <div class="carousel__item">
            <img src="~/IMG/carousel2.jpg" />
        </div>
        <div class="carousel__item">
            <img src="~/IMG/carousel1.jpg" />
        </div>
        <div class="carousel__item">
            <img src="~/IMG/carousel3.jpg" />
        </div>
    </div>
    <img class="left-arrow" src="~/IMG/left-arrow.png" width="40" />
    <img class="right-arrow" src="~/IMG/right-arrow.png" width="40" />
</section>
<section class="product">
    <div class="container">
        <h2 class="text-center">New Producst</h2>
        <div class="product__wrap">
            @foreach (var item in Model)
            {
                <div class="product__items">
                    <div class="product__img">
                        <img src="~/IMG/@item.Img" />

                    </div>
                    <div class="product__info">
                        <p class="title">@item.ProductName</p>
                        <p class="price"><span>@String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:C0}", item.Price)</span><span>4.200.200</span></p>

                    </div>
                    <div class="over__lay">
                        <button class="cart_btn btn btn flex-shrink-0" type="button">
                          
                            Add to cart
                        </button>
                        <button class="preview_btn">@Html.ActionLink("Preview", "Preview", "Product", new { id = item.ProductId }, null)</button>
                    </div>
                </div>  
            }
        </div>
        <div class="product_page">
            <p> @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))</p>
            <p> Trang @(Model.PageCount<Model.PageNumber?1:Model.PageNumber)/@Model.PageCount</p>
        </div>
    </div>
</section>
<section class="banner">
    <div class="banner__item">
        <img src="~/IMG/car.png" width="50" />
        <div class="txt">
            <p>FreeShip</p>
            <span>FreeShip with orders over 500</span>
        </div>
    </div>
    <div class="banner__item">
        <img src="~/IMG/technical-support.png" width="50" />
        <div class="txt">
            <p>Customer Service(9:00 - 21:00)</p>
            <span>013 32495 324</span>
        </div>
    </div>
    <div class="banner__item">
        <img src="~/IMG/exchange.png" width="50" />
        <div class="txt">
            <p>Exchange</p>
            <span>Within 07 days</span>
        </div>
    </div>
</section>