@model LapTrinhWeb.Models.User
@using BotDetect.Web.Mvc;
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
@{ MvcCaptcha registerCapcha = new MvcCaptcha("registerCapcha"); registerCapcha.UserInputID = "CaptchaCode";}
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="userLogin">
    <div class="userLogin_wrap register">
        <div class="over__lay"></div>
        <h2 class="text-center">REGISTER</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-lable" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-lable" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="form-group text-center">
                @Html.Captcha(registerCapcha)
                @Html.TextBox("CaptchaCode")
            </div>

                <input type="submit" class="userLogin_regis" value="Register" />
                <p class="back" style="margin-top: 30px">@Html.ActionLink("Back to List", "Index", "Product")</p>
        }
    </div>

</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
